<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webshop</title>
  </head>
  <body>
    <h1>webshop</h1>
    <p>köp dem alldra bästa filmerna nu!</p>
    <ul>
      <li><a routerLink="" routerLinkActive="active">Home</a></li>
      <li><a routerLink="products" routerLinkActive="avtive">Products</a></li>
      <li><a routerLink="order" routerLinkActive="avtive">Order</a></li>
      <li><a routerLink="admin" routerLinkActive="avtive">Admin</a></li>
    </ul>

    <router-outlet></router-outlet>

    <footer>webshop.se</footer>
  </body>
</html>
